In [1]:
import numpy as np
import pandas as pd

In [4]:
import warnings

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

warnings.filterwarnings("ignore")

In [8]:
# for Jupyter-book, we copy data from GitHub, locally, to save Internet traffic,
# you can specify the data/ folder from the root of your cloned
# https://github.com/Yorko/mlcourse.ai repo, to save Internet traffic
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [10]:
df=pd.DataFrame(data)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
s = df.groupby('sex').age.mean()
print(s['Female'])

36.85823043357163

In [12]:
df[df['sex']=='Female']['age'].mean()

36.85823043357163

In [13]:
df1=pd.DataFrame()
df1=data['native-country'].value_counts()
print(df1['Germany'])
a=df1['Germany']

137

In [14]:
len(df)

32561

In [15]:
df1=pd.DataFrame(data)
per= (a /len(df)) * 100
print(per)

0.42074874850281013

In [16]:
df[df['salary']=='<=50K']['age'].mean()

36.78373786407767

In [17]:
df[df['salary']=='<=50K']['age'].std()

14.02008849082488

In [18]:
df[df['salary']=='>50K']['age'].mean()

44.24984058155847

In [19]:
df[df['salary']=='>50K']['age'].std()

10.519027719851826

In [20]:
k = df.groupby('race')
k
for race,race_df in k:
    print(race)
    print(race_df.age.max())

Amer-Indian-Eskimo
82
Asian-Pac-Islander
90
Black
90
Other
77
White
90

In [21]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [22]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [23]:
filter_list=['9th','7th-8th','5th-6th', '1st-4th', 'Preschool']

In [24]:
edu=df[df['salary']=='>50K']['education']
filter=edu.isin(filter_list)
filter

7        False
8        False
9        False
10       False
11       False
         ...
32539    False
32545    False
32554    False
32557    False
32560    False
Name: education, Length: 7841, dtype: bool

In [25]:
edu[filter].count()

89